.container {
  margin: 0 auto;
  width: 1200px;
}

.preloader {
  background: rgba(200, 200, 200, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3000;
}

.preloader.hide {
  display: none;
}

.preloaderText {
  color: #fff;
  font-size: 24px;
  position: absolute;
  margin-left: -50px;
  margin-top: -12px;
  left: 50%;
  top: 50%;
}

.badge {
  display: inline-block;
  margin-right: 5px;
}

.progress {
  border: 1px solid #000;
  height: 5px;
}

.progress-bar-1 {
  background-color: #ffff66 !important;
}

.progress-bar-2 {
  background-color: #663333 !important;
}

.progress-bar-3 {
  background-color: #ff0033 !important;
}

.progress-bar-4 {
  background-color: #cc33ff !important;
}

.progress-bar-5 {
  background-color: #ff9933 !important;
}

.progress-bar-6 {
  background-color: #00cc33 !important;
}


.badge {
  background-color: #ccc;
  cursor: pointer;
}

.badge-grass {
  background-color: #060;
}

.badge-poison {
  background-color: #3f0;
}

.badge-fire {
  background-color: #c00;
}

.badge-flying {
  background-color: #0ff;
}

.badge-water {
  background-color: #60f;
}


.page-link {
  cursor: pointer;
}